WorklistAssistant/WorklistAssistant/Service References/WAService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WAService" />
  <xs:element name="VerifyingPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyingPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyingPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserInFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserInFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserInFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorklistsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorklistsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WAService" minOccurs="0" name="GetWorklistsForUserResult" nillable="true" type="q1:ArrayOfWorklist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorklistInFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masterUserLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorklistInFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorklistInFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorklistFromFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masterUserLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorklistFromFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorklistFromFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masterUserLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUserLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorklistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMasterUserForWorklists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldMasterUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newMasterUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMasterUserForWorklistsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllWorklistForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masterUserLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllWorklistForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAllWorklistForUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFromFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserFromFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserFromFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>