WorklistAssistant/WorklistAssistant/Service References/WAService/WAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WAService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WAService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWorklist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Worklist" nillable="true" type="tns:Worklist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorklist" nillable="true" type="tns:ArrayOfWorklist" />
  <xs:complexType name="Worklist">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterUserLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusImg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Worklist" nillable="true" type="tns:Worklist" />
</xs:schema>